<div class="logo-w3layouts-agileits">
  <h1><a class="navbar-brand" href="/"><i class="fa fa-sun-o" style="color:#ff751a" aria-hidden="true"></i> Hewller <span class="desc"><%= t('view.companytop') %></span></a></h1>
</div>