<div class="inner_sec_info_wthree_agile">
      <div class="col-md-8 map">
    <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJg_RcI2KpQjQRFeykXzb9yyU&key=AIzaSyAX-h58cqtBd2_xCPYkwfuQo-9XWxzxDII"
        style="border:0"></iframe>
  </div>
  <div class="col-md-4 contact_grids_info">
    <div class="contact_grid">
      <div class="contact_grid_right">
        <h4><%= t('view.office') %></h4>
        <p><a href="mailto:info@hewller.com">info@hewller.com</a></p>
        <p><%= t('view.address') %></p>
      </div>
    </div>
    <div class="contact_grid">
      <div class="contact_grid_right">
        <h4><%= t('view.pinpin') %></h4>
        <p><a href="mailto:pinwen.huang@hewller.com">pinwen.huang@hewller.com</a></p>
        <p>+886 916 711279</p>
      </div>
    </div>
    <div class="contact_grid" data-aos="flip-up">

      <div class="contact_grid_right">
        <h4><%= t('view.yutaka') %></h4>
        <p><a href="mailto:yutaka.matsumura@hewller.com">yutaka.matsumura@hewller.com</a></p>
        <p>+886 905 035350</p>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="clearfix"> </div>
</div>